{% extends "layout.html" %}

{% block content %}
<div class="container bg-dark">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Color</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Peter</td>
      <td>Paws</td>
      <td>Gray</td>
      <td>2</td>
      <td>Persian</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>George</td>
      <td>Growler</td>
      <td>Blue</td>
      <td>5</td>
      <td>Ragdoll</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mild</td>
      <td>Mildred</td>
      <td>Purple</td>
      <td>4</td>
      <td>Bengal</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Timid</td>
      <td>Terry</td>
      <td>Black</td>
      <td>15</td>
      <td>Siamese</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Active</td>
      <td>Arby</td>
      <td>Green</td>
      <td>13</td>
      <td>Sphynx</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Cool</td>
      <td>Calvin</td>
      <td>Red</td>
      <td>10</td>
      <td>Manx</td>
    </tr>
    </tbody>
  </table>
</div>

{% endblock %}
