<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}
  <pre>
      Cats or Dogs? The ever important question. With only one correct answer.
    The Cat, or Creature of Awesome Tendencies, holds many positive characteristics. Our furry friends are our soul
    mates. With less conflicts. Hungry? Buy a big food bag. Tuna cans for special occasions. Thirsty? Water. Share a
    bed with someone who will not steal your blankets. Receive simple affection in return. Great success.
  </pre>

  <pre>
    Testing paragraph 2.

  </pre>

  <pre>
    Testing paragraph 3.

  </pre>
  {% block content %}{% endblock %}
</body>
</html>
