<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}
  <h1>ABOUT CATS:</h1>
  <pre>
      Cats or Dogs? The ever important question. With only one correct answer. The Cat, or Creature of Awesome
    Tendencies, holds many positive characteristics. Our furry friends are our soul mates. With less conflicts. Hungry?
    Buy a big food bag. Tuna cans for special occasions. Thirsty? Water. Share a bed with someone who will not steal
    your blankets. Receive simple affection in return. <a href="http://gph.is/24IKcSC">Great Success</a>.
  </pre>
  <pre>
      You may be familiar with the masses known as "dog people." In our small world, we must refrain from looking down
    upon these poor, mistaken people. Saliva dripping everywhere displays a dog's good healthy appetite. Loud, excited
    barking 24/7 shows a lively spirit. Minimal cuddly fur makes for a satisfying head pat. Remember this doctrine.
    Understand those poor taste.
  </pre>

  <pre>
      Once upon a time there was a young kitten named Fred. He grew up on a farm. Ate mice, chased his tail, and slept.
    One day, there was a disturbance outside. The pig-snatcher from the town over crept in. Fred waited in hiding.
    The snatcher made his rounds. One pig, two pigs, three pigs...he tried to take them all. Without waiting, Fred lept
    out and scratched a nearby button. The farmer had set up a trap, he saw, which would release hay from the ceiling.
    The snatcher looked up as the hay tumbled down. He did a back-flip to get away. Fred went back to sleep.
  </pre>
  {% block content %}{% endblock %}
</body>
</html>
